body {
    padding: 30px;
}

code {
    padding: 5px 8px;
    border-radius: 10px;
    background-color: #f8f9f9;
    color: #CC0066;
}

[type='color'] {
    -moz-appearance: none;
    -webkit-appearance: none;
    padding: 0;
    width: 15px;
    height: 15px;
    border: none;
}

[type='color']::-webkit-color-swatch-wrapper {
    padding: 0;
}

[type='color']::-webkit-color-swatch {
  border: none;
}

.color-picker {
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: #f8f9f9;
}


